@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
  background: #f4f8f9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

.react-tabs__tab-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e6e8f1;
}
.react-tabs__tab {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  margin-right: 79px;
  color: #686868;
  padding-bottom: 16px;
  cursor: pointer;
  outline: none;
}
.react-tabs__tab:first-child {
  margin-left: 50px;
}
.react-tabs__tab--selected {
  font-weight: bold;
  color: #57c3a7;
  border-bottom: 4px solid #57c3a7;
}
